.image-bg {
    background-image: url(../../image/quiz-bnr-nov19.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
    width: 100%;
    margin-top: 4rem;
}

.container {
    color: white;
    font-size: 19px;
    margin: 20px 20px;
}

.container strong {
    color: #fa9f27;
}

.container h2 {
    font-size: 3rem;
}

.btn a {
    color: white;
    text-decoration: none;
}


/* logo */

.logo {
    margin-left: 3rem;
}

.fa {
    font-size: 2.5rem;
    margin-top: 1rem;
}

.menu {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0%;
    background-color: lightcyan;
    border-bottom: 1px solid #B993D6;
}

.fa .fa-user-circle {
    margin-top: 2rem;
}

.button {
    border: none;
    background: blue;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin-right: 3rem;
    margin-left: 3rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.account {
    display: flex;
}

#name_user {
    margin-top: 1rem;
    font-size: 20px;
    font-weight: bold;
    margin-right: 1rem;
}

.img {
    display: flex;
    margin-top: -10px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    margin-top: 3rem;
    z-index: 3;
}

.title {
    color: grey;
    font-size: 18px;
}

button:hover,
a:hover {
    opacity: 0.7;
}

#btnBack {
    padding: 15px;
    width: 50%;
    border: none;
    border-radius: 5px;
    background: green;
    color: white;
}