<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="view.css">
    <title>Document</title>
</head>

<body>
    <div class="input-group">
        <input type="search" oninput="searchTitle()" id="vlaueText" class="form-control rounded" placeholder="Search your quiz" aria-label="Search" aria-describedby="search-addon" />
    </div>
    <div class="collectQue" id="viewQuestions">
    </div>


    <div id="displayViewQuestions" style="display: none">
    </div>
    <script src="view.js"></script>
</body>

</html>