<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="add question.css">
<title>Add questions</title>
</head>
<body>
    <section id="edit-quiz">
        <div class="menu">
            <div class="logo">
                <h1>Quiz APP</h1>
            </div>
            <div class="account">
                <div id="name_user" style="margin-right:1.5rem;margin-top: 1.5rem; font-size:20px"><p id="name_user" ></p></div>
                <div class="user"><img src="../../image/profile.png" style="width:10%;margin-top: 0.9rem;" alt=""></i></div>
                <button class="button" id="singOut">Sign out</button>
            </div>
        </div>
        <div id="form-add">
            <div class="back">
                <button id="btn-back">Back</button>
            </div>
            <h1 id="quest">Title quiz</h1>
            <div class="form-title">
                    <input type="text" class="tittle clear" id="title" placeholder="Add quiz tittle..">
                    <button id="addTitle">Add title</button>
            </div>
            <form action="#" style="display: none" id="formQue">                
                <div class="header">
                    <label for="quiz_menu">Creat questions</label><br>
                </div>
                <input type="text" name="question" class="clear" id="question" placeholder="Add question..">
                <label for="score">Score: </label>
                <input type='number' name='point' id='score' value="5">
                <div id="choices">
                    <input type="radio" name="choice" id="1"><input type="text" placeholder="Add answer" name="label-choice" class="label-choice clear" id="a1">
                    <input type="radio" name="choice" id="2"><input type="text" placeholder="Add answer" name="label-choice" class="label-choice clear" id="a2">
                </div>
                <div id="choices">
                    <input type="radio" name="choice" id="3"><input type="text" placeholder="Add answer" name="label-choice" class="label-choice clear" id="a3">
                    <input type="radio" name="choice" id="4"><input type="text" placeholder="Add answer" name="label-choice" class="label-choice clear" id="a4">
                </div>
                <button type="button" id="btn-add-question">Add Question</button>
            </form>
        </div>
        <div id="question-content">
           
        </div>
       
    </section>
    <div id="form_add" style="display: none;">
        <form id="formQue" >                
            <div class="header">
                <label for="quiz_menu">Update questions</label><br>
            </div>
            <label for="score">Score: </label>
            <input type='number' name='point' id='scoreUpd' value="5">
            <div><input type="text" name="question" id="questionUpd" placeholder="Add question.."></div>
            
            <div id="choices">
                <input type="radio" name="choiceUpd" id="1"><input type="text" placeholder="Add answer" name="label-choice" class="label-choice" id="a1Upd">
                <input type="radio" name="choiceUpd" id="2"><input type="text" placeholder="Add answer" name="label-choice" class="label-choice" id="a2Upd">
            </div>
            <div id="choices">
                <input type="radio" name="choiceUpd" id="3"><input type="text" placeholder="Add answer" name="label-choice" class="label-choice" id="a3Upd">
                <input type="radio" name="choiceUpd" id="4"><input type="text" placeholder="Add answer" name="label-choice" class="label-choice" id="a4Upd">
            </div>
            <button type="button" id="cancel">Cancel</button>
            <button type="button" id="update">Update</button>
        </form>
    </div>
    
    <script src="add question.js"></script>
</body>
</html>