
#form-add,#form_add{
    width: 60%;
    padding: 3rem;
    text-align: center;
    margin-left: 13rem; 
    margin-top: 6rem;
    background: #f0ece771;
    border-radius: 10px;
}
body{
    background-image: url("../../image/360_F_264451404_s4Dhf0mQZdg1N4Gx9RrwfnIIjBiZQ459.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    margin-top: 1rem;
    font-family: cursive;
}

.header{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: black;
}
.tittle{
    margin-top: 20px;
    width: 75%;
    padding: 14px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.724);
    border-bottom: 4px solid #B993D6;
}
#addTitle{
    padding: 1rem;
    color: white;
    background: blue;
    border: none;
    font-weight: bold;
    border-radius: 4px;
    margin-left: 4px;
    font-family: cursive;
}

/* / input question / */
#question,#questionUpd{
    margin-top:50px;
    margin-bottom: 20px;
    width:70%;
    padding:12px;
    margin-left: 6rem;
    border: none;
    border-radius: 5px;
    border-bottom: 4px solid #B993D6;
}

#question-content{
    width: 50%;
    margin: auto;
}
/*input score  */
#score,#scoreUpd{
     width: 6%; 
     text-align: center;
     outline: none;
     border: none;
     color: black;
     padding: 0.3rem 0.5rem;
    background: #eee;
}
.label-choice{
    padding: 10px;
    margin: 8px;
    width: 30%;
    border: none;
    border-radius: 5px;
    border-bottom: 3px solid #B993D6;
}
/* / button add queston   */
#btn-add-question{
    margin-top: 30px;
    width: 25%;
    font-size: 16px;
    padding: 11px;
    background: blue;
    color: white;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

input,
input::-webkit-input-placeholder {
    font-size: 18px;
    outline: none;
}
.back{
    margin-left: 45rem;
}
.back #btn-back{
    padding: 0.6rem 1.5rem;
    background: rgba(255, 0, 0, 0.733);
    border: none;
    font-size: 16px;
    font-family: cursive;
}

/* logo */
.logo{
    margin-left: 3rem;
}
.fa{
    font-size: 2.5rem;
    margin-top: 1rem;

}
.menu{
    display: flex;
    justify-content: space-between;    
    position: fixed;
    width: 100%;
    top: 0%;
    margin-left: -0.5rem;
    background-color: lightcyan;
}
.fa .fa-user-circle{
    margin-top: 2rem;
}
.button{
    border: none;
    background: blue;
    color: white;
    font-weight: bold;
    border-radius:5px;
    margin-right: 3rem;
    margin-left: 3rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
.account{
    display: flex;
}
#name_user{
    margin-top: 0.8rem;
    font-weight: bold;
    margin-right: 0.2rem;
}
strong{
    color:coral ;    
}
.btn a{
    color: white;
    text-decoration: none;
}
.demo-content{
    padding: 25px;
    font-size: 18px;
}







/* Display question */

.form-que{
    background: rgba(255, 255, 255, 0.729);
    font-size: 20px;
    border-radius: 5px;
    padding-left: 30px;
    border-radius: 5px;

}
.titleQues{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
.scoreQue{
    margin-left: 80%;
    margin-right: -2%;
}
#ctrlBtn{
    text-align: center;
}
.delete{
    padding: 10px;
    border: none;
    border-radius: 4px;
    color: white;
    background: red;
    margin-bottom: 5px;
}
.update{
    padding: 10px;
    border: none;
    border-radius: 4px;
    color: white;
    background: green;
    margin-bottom: 5px;
    margin-left: 3px;
}




/* Update question */

#update{
    margin-top: 30px;
    width: 15%;
    font-size: 16px;
    padding: 11px;
    background: green;
    color: white;
    border: none;
    border-radius:5px;
    margin-bottom: 4rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#cancel{
    margin-top: 30px;
    width: 15%;
    font-size: 16px;
    padding: 11px;
    background:rgba(181, 181, 181, 0.831);
    color: red;
    font-weight: bold;
    border-radius:5px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
