<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="add question.css">
<title>Add questions</title>
</head>
<body>
    <section id="edit-quiz">
        <!-- form to add question -->
        <div id="form-add">
            <h1 id="quest">Title quiz</h1>
            <input type="text" class="tittle" id="title" placeholder="Add quiz tittle..">
            <button id="addTitle">Add title</button>
            <form action="#" style="display: none" id="formQue">                
                <div class="back">
                    <button id="btn-back">Back</button>
                </div>
                <div class="header">
                    <label for="quiz_menu">Creat questions</label><br>
                </div>
                <input type="text" name="question" id="question" placeholder="Add question.." class="clear">
                <label for="score">Score: </label>
                <input type='number' name='point' id='score' value="5">
                <div id="choices">
                    <input type="radio" name="choice" id="1" class="clear"><input type="text" placeholder="Add answer" name="label-choice" class="label-choice clear" id="a1">
                    <input type="radio" name="choice" id="2" class="clear"><input type="text" placeholder="Add answer" name="label-choice" class="label-choice clear" id="a2">
                </div>
                <div id="choices">
                    <input type="radio" name="choice" id="3"><input type="text" placeholder="Add answer" name="label-choice" class="label-choice clear" id="a3">
                    <input type="radio" name="choice" id="4"><input type="text" placeholder="Add answer" name="label-choice" class="label-choice clear" id="a4">
                </div>
                <button type="button" id="btn-add-question">Add Question</button>
            </form>
        </div>
        <div id="question-content">
           
        </div>
        <div class="update">
            
        </div>
    </section>
    
    <script src="add question.js"></script>
</body>
</html>